main {
  overflow: scroll;
  overflow: hidden;
}
.category-box {
  height: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.caroussel-box {
  width: 100%;

  display: flex;
  overflow: hidden;
  overflow: scroll;
  scrollbar-width: none;
}

.movie-box {
  width: 100%;
}

.movie-box > img {
  max-height: 190px;
  min-width: 340px;
  object-fit: inherit;
  position: relative;
}

.movie-box > img:hover {
  cursor: pointer;
  transition: 0.5s;

  border-radius: 5px;
  position: absolute;
  z-index: 1;
  max-height: 210px;
  min-width: 360px;
}
